.a1{
   background-color: aqua;font: 150;text-align: center;
}
.a2{
    background-color: brown;color: blanchedalmond;font: 100;text-align: center;
}
.a3{
    background-color: dimgrey;color: ghostwhite;font: 100;text-align: center;
}
.a4{
    background-color: teal;color: yellow;font: 100; text-align: center;
}
.b1{
    background-color: teal;color: yellow;font: 100;padding: 200px;text-align: center;